<?xml version="1.0"?>
<config
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <question_pending>
            <question>
                <is_enabled>1</is_enabled>
                <template>sales_email_order_template</template>
                <guest_template>question_pending_question_your_email_template_field_id</guest_template>
            </question>
        </question_pending>
    </default>
</config>
